{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": ["prettier", "react-app"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-first-prop-new-line": ["error", "always"],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1 }],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-closing-bracket-location": [2, "tag-aligned"]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@styles", "./styles/"],
          ["@components", "./components/"],
          ["@layouts", "./layouts/"],
          ["@lib", "./lib/"],
          ["@hooks", "./hooks/"],
          ["@fonts", "./fonts/"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
